<div class="container">
  <div class="row">
    <div class="col s12">
      <h3>Socket Chat</h3>
      <input type="text" name="username" [(ngModel)]="username"/>
      <button type="button" (click)="addNewUser()">Register User</button>
      <h5>User lists</h5>
      <div class="chat_list" *ngFor="let user of listUser" (click)="selectUser(user)" id="{{user.username}}">{{user.username}}</div>
    </div>
    <h3>Messages</h3>
    <div id="messageArea" class="col s12">


    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <label for="messageText">Message</label>
      <input id="messageText" type="text" class="validate" [(ngModel)]="message" (keyup)="$event.keyCode == 13 && sendMessage()" />
      <button (click)="sendMessage()">Send</button>
    </div>
  </div>
</div>
